@model IEnumerable<hw4.Models.Product>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var product in Model)
            {
            <tr>
                <td>@product.Category</td>
                <td>@product.Brand</td>
                <td>@product.Collection</td>
                <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>